.list {
  display: flex;
  flex-direction: column;
}

Article {
  margin: 1%;
}

article {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr;
}

div .top {
  display: flex;
}

div .bottom {
  display: flex;
}

div .category {
  border: 1px solid white;
  border-radius: 5px;
  background-color: #3f3f3f;
  color: white;
  margin-right: 5px;
  padding: 5px;
}

div .article_title {
  padding: 5px;
  color: black;
}

div .author {
  padding: 5px;
}

div .view-count {
  padding: 5px;
}

div .date {
  padding: 5px;
}
.todetails {
  color: black;
}

.todetails:visited {
  color: black;
}

#post_btn {
  border: 1px solid #ccc;
  padding: 5px 10px 5px 10px;
    border-radius: 5px;
  width: 20%;
}
