#dateContainer {
  display: flex;
  flex-direction: row;
}

.matchItem {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

a:link,
:visited,
:active {
  color: white;
  text-decoration: none;
}

#left {
  margin-right: auto;
}

#right {
  margin-left: auto;
}
#topInfo {
  display: flex;
}

.time {
  padding-right: 10px;
}

.match_title {
  padding-right: 10px;
}

.filtercls {
  border-radius: 10px;
  padding: 5px 5px;
  margin: 0px 3px;
}

label {
  border: 1px solid white;
}

#match_container {
  margin-top: 20px;
}
