#dateContainer{
    display: flex;
    flex-direction: row;
}

.matchItem{
    display: flex;
    flex-direction: row;
    padding: 10px, 0;
    margin-bottom: 10px;
}

#left{
    margin-right: auto;
}

#right{
    margin-left: auto;
}
#topInfo{
    display: flex;
}

.time{
    padding-right: 10px;
}

.match_title{
    padding-right: 10px;
}